<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/guide.css">
    <link rel="stylesheet" href="/css/statusCodes.css">

    <div class="main">

        <% if (locals.loggedIn === false) { %>
        <div class="loginPopup userErr">
            <h2>Oops! Du må logge inn før du kan følge disse guidene ordentlig. <a href="/sign-in">Logg inn her.</a></h2>
        </div><br><br>
        <% } %>

        <h2>Oppdatere prioritering på wishlisten:</h2>
        <label for="img_1">Først må du åpne din egen hjemmeside. Det kan du gjøre ved å trykke på brukernavnet ditt øverst i høyre hjørne som vist på bildet under, eller ved å trykke <a href="/home" target="_blank">her.</a></label><br>
        <img name="img_1" src="/img/Order1.png" alt=""><br><br>

        <label for="img_2">Når du er på hjemmesiden din, trenger du å fylle ut noen ønsker slik at man kan da flytte på rekkefølge.</label><br>
        <img name="img_2" src="/img/Order2.png" alt=""><br><br>

        <label for="img_3">Etter det, kan du bare se ned og trykke på pilene som skifter ønsken din opp eller ned I lista. </label><br>
        <img name="img_3" src="/img/Order3.png" alt=""><br><br>

        <label for="img_4">Ferdig! :D </label><br>
        <img name="img_4" src="/img/Order4.png" alt=""><br><br>
    </div>

<%- include('partials/footer') %>