<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/guide.css">
    <link rel="stylesheet" href="/css/statusCodes.css">

    <div class="main">

        <% if (locals.loggedIn === false) { %>
        <div class="loginPopup userErr">
            <h2>Oops! Du må logge inn før du kan følge disse guidene ordentlig. <a href="/sign-in">Logg inn her.</a></h2>
        </div><br><br>
        <% } %>

        <h2>Oppdatere prioritering på wishlisten:</h2>
        <label for="img_1">Først må du åpne din egen hjemmeside. Det kan du gjøre ved å trykke på brukernavnet ditt øverst i høyre hjørne som vist på bildet under, eller ved å trykke <a href="/home" target="_blank">her.</a></label><br>
        <img name="img_1" src="/img/Order1.png" alt=""><br><br>

        <label for="img_2">Når du er på hjemmesiden din, trenger du å fylle ut noen ønsker slik at man kan da flytte på rekkefølge.</label><br>
        <img name="img_2" src="/img/Order2.png" alt=""><br><br>

        <label for="img_3">Etter det, kan du bare se ned og trykke på pilene som skifter ønsken din opp eller ned I lista. </label><br>
        <img name="img_3" src="/img/Order3.png" alt=""><br><br><br><br>

        <h2>Oppdater og slette wishlist:</h2>
        <label for="img_4">Først må du åpne din egen hjemmeside. Det kan du gjøre ved å trykke på brukernavnet ditt øverst i høyre hjørne som vist på bildet under, eller ved å trykke <a href="/home" target="_blank">her.</a></label><br>
        <img name="img_4" src="/img/Screenshot_108.png" alt=""><br><br>

        <label for="img_5">For å velge hvilken wishlist du vil oppdatere eller slette, så kan du trykke på navnet til den du vil endre.</label><br>
        <img name="img_5" src="/img/Screenshot_109.png" alt=""><br><br>

        <label for="img_6">Nå vil det åpnes en popup med informasjonen fra Wishlisten du trykket på. Her kan du endre på alle feltene, og du kan til og med endre hvilket bilde den har, ved å dra å slippe et nytt bilde over det gamle. Når du er ferdig å redigere, så kan du trykke på den grønne knappen for å lagre, eller så kan du trykke på den røde knappen for å slette Wishlisten.</label><br>
        <img name="img_6" src="/img/Screenshot_110.png" alt=""><br><br>
    </div>

<%- include('partials/footer') %>