<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/wishlist.css">
    <link rel="stylesheet" href="/css/landing.css">

    <div class="wishGrid">
        <ol class="wishList">
        </ol>
    </div>

    <!-- scripts -->
    <script src="/js/landingWishlists.js"></script>
    <script src="/js/landingpage.js"></script>

<%- include('partials/footer') %>