<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/statusCodes.css">
    <link rel="stylesheet" href="/css/wishlist.css">

    <h2>Brukerside - <%= username %></h2>


    <label for="wishItem" class="addLabel">add another item to the list</label>
        <form class="createGrid">
        <input type="text" name="wishItem" id="wishItem" placeholder="add another item to the list...">
        <button>Add</button>
        </form>

    <div class="wishGrid">
        <ol class="wishList">
        </ol>
    </div>

    <div class="wishlistDisplay wishlistGrid"></div>

    <!-- scripts -->
    <script src="/js/getWishlists.js" defer></script>
    <script src="/js/userHome.js" defer></script>

<%- include('partials/footer') %>